* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.header-background {
  width: 100%;
  background-size: cover;
  background-image: url("../images/hero-img.png");
  background-repeat: no-repeat;
}
.navigation {
  width: 100%;
  background-color: #d3cbc5;
  padding-top: 22px;
  padding-bottom: 22px;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 20px lightgray;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 23px;
  li a {
    text-decoration: none;
    color: #1b1a1a;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px; /* 375% */
    padding-bottom: 8px;
    padding-top: 8px;
    transition: all 0.5s linear;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    &:hover {
      border-color: blue;
      color: blue;
    }
  }
}

.nav-buttons {
  display: flex;
  gap: 10px;
  a {
    padding: 5px;
    transition: all 0.5s linear;

    &:hover {
      background-color: blue;
      border-radius: 10px;
      svg path {
        stroke: white;
      }
    }
  }
}
.checked {
  display: none;
}
.checked:checked + nav {
  display: block;
  ul {
    height: 450px;
    flex-direction: column;
  }
  & ~ .nav-buttons {
    display: none;
  }
}

label {
  display: none;
}

label div {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../images/hamburger.webp");
}
@media screen and(max-width:768px) {
  nav {
    display: none;
  }
  .navbar {
    align-items: unset;
    justify-content: space-around;
  }
  label {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .nav-buttons {
    display: none;
  }
}
.hero-texts {
  margin-top: 104px;
  padding-top: 22px;
  padding-left: 21px;
  h5 {
    //   margin-top: 190px;
    color: #2c314b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 375% */
  }
  h1 {
    width: 361px;
    font-family: "Nunito Sans", sans-serif;
    color: #1b1a1a;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 120% */
    margin-bottom: 15px;
  }
  p {
    color: #121211;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 21px;
    line-height: 60px; /* 250% */
    span {
      color: #878787;
      font-family: Nunito Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
    }
  }
  a {
    color: #fff;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 428.571% */
    text-decoration: none;
    padding: 7px 17px;
    background: #1c1b1b;
  }
}
.header-background {
  padding-top: 184px;
  padding-bottom: 287px;
}
@media screen and (max-width: 767px) {
  .hero-texts {
    text-align: center;
    h1 {
      margin-left: auto;
      margin-right: auto;
      // width: auto;
    }
  }
}
@media screen and(max-width:576px) {
  .hero-texts {
    h1 {
      width: auto;
    }
  }
}
.cards {
  display: flex;
  margin-bottom: 114px;
  margin-top: 94px;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .card {
    padding: 50px 48px 19px 31px;
    background: #e5e6e6;
    height: 449px;
    width: 350px;
    background-image: url("../images/a-chair.png");
    background-repeat: no-repeat;
    background-position: 80% 100%;

    h3 {
      width: 215px;
      margin-bottom: 16px;
      color: #282828;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 133.333% */
    }
    a {
      text-decoration: none;
      color: #1b1a1a;
      text-align: center;
      font-family: Nunito Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px; /* 428.571% */
      border: 1px solid black;
      padding: 7px 17px;
      background-size: 200% auto;
      transition: all 0.5s linear;
      &:hover {
        background-color: black;
        color: white;
      }
    }
    img {
      display: block;
      margin-left: auto;
    }
  }
  & .card:nth-child(3) {
    background-size: contain;
    background-image: url("../images/desk-lamp-marble-table.png");
  
}
  & .card:nth-child(4){
    background-image: url("../images/armchair.png");
      
  }
}
@media screen and (max-width:1021px) {
    .cards .card:nth-child(4){
        display: none;
    }
}
@media screen and (max-width:696px){
    .cards .card:nth-child(3){
        display: none;
    }
}
@media screen and(max-width:384px) {
    .cards > img{
        display: none;
        flex-direction: column;
      
    }
    .cards .card{
        width: auto;
    }
    .cards{
        flex-direction: column;
        & .card:nth-child(3){
            display: block;
        }
        & .card:nth-child(4){
            display: block;
        }
    }
}
@media screen and (max-width:303px) {
    .cards .card{
        padding: 0;
    }
}
@media screen and (max-width:240px) {
    .logo{
        display: none;
    }
}